body {
	margin: 0;
	padding: 0;
}

p {
	position: relative;
	color: pink;
	z-index: 100;
}

#header {
	position: fixed;
	background-color: white;
	z-index: 1000;
	height: 50px;
	width: 100%;
}

.headerLogo {
	height: 50px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

#footer {
	position: relative;
	background-color: gray;
	bottom: 0px;
	z-index: 999;
}

#bubbleCanvas {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10;
}

#bubbleCanvasRight {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 300px;
}

#bubbleCanvasLeft {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 300px;
}

#backImg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 0;
}

#back_bar {
	position: absolute;
	bottom: 148px;
	left: 0px;
	z-index: 3;
}

#back_station {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
}

#back_building {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}