body {
	margin: 0;
	padding: 0;
}

#header {
	position: fixed;
	background-color: white;
	z-index: 1000;
	height: 50px;
	width: 100%;
}

.headerLogo {
	
	float: left;
	height: 50px;
	padding-top: 11px;
	
}

#year100{
	float: right;
}

.clear{
	clear: both;
}

#footer {
	position: relative;
	height: 60px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	bottom: 0px;
	z-index: 999;
}

#main {
	position: relative;
	top: 100px;
	height: 100%;
	width: 100%;
	z-index: 50;
}

#bubbleCanvas {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10;
}

#bubbleCanvasRight {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 300px;
}

#bubbleCanvasLeft {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 300px;
}

#bubbleCanvasTimer {
	position: relative;
	top: -50px;
	left: 0px;
	height: 300px;
	width: 700px;
}

#backImg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 0;
}

#back_bar {
	position: absolute;
	bottom: 148px;
	left: 0px;
	z-index: 3;
}

#back_station {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
}

#back_building {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}

#dhm {
	position: relative;
	top: -230px;
	color: white;
	font-size: 35;
	font-family: monospace;
	z-index: 70;
}
